
.NavBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    margin-bottom: 2em;
    color: white;
    background-color: #24292F;

    font-family: 'Work Sans', sans-serif;
    font-weight: 300;

    .search {
      flex: 1;
    }
}

